<div class="container">
  <div class="jumbotron" style= "background-image: url(https://files.slack.com/files-pri/T4GB7E0PQ-F5Z3DSGGP/urnbaspot_16-9.png); background-size: 100%; text-decoration-color: white">
  </div>
    <div class="container">
      <h3>Welcome to your NBA app.</h3>
      <p>A place for the dedicated fan who wants a personalized experience.</p>
      <p>Traditional and advanced statics on players and teams.</p>
    </div>
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Top 5 NBA Teams</h2>
          <p><ol>
            <p>Team1</p>
            <p>Team2</p>
            <p>Team3</p>
            <p>Team4</p>
            <p>Team5</p>
          </ol> </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Top 5 NBA players</h2>
          <p><ol>
            <p>Player1</p>
            <p>Player2</p>
            <p>Player3</p>
            <p>Player4</p>
            <p>Player5</p>
          </ol> </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Check out your favorite Teams and Palyers</h2>
          <p>SignIN and view Today's NBA</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

  </div> 
</div><!-- /container -->
