<div class="container">
  <div class="jumbotron" style= "background-image: url(https://files.slack.com/files-pri/T4GB7E0PQ-F5Z3DSGGP/urnbaspot_16-9.png); background-size: 100%; text-decoration-color: white">
  </div>
    <div class="container">
      <h3>Welcome to your NBA app.</h3>
      <p>A place for the dedicated fan who wants a personalized experience.</p>
      <p>Traditional and advanced statics on players and teams.</p>
    </div>
  <div class="container">
  
  </div> 
</div><!-- /container -->
